.venv/
__pycache__/
*.pyc

DataBase_BIUREV/
DataBase_LibriSpeech/
LibriSpeech/
weights/
checkpoints/
logs/
runs/
wandb/
whisper_results/
lib/
trained_models/
bin/
script_res/

*.pth
*.pt
*.ckpt
*.pkl
*.wav
*.flac
*.npy
*.npz
*.pdf
*.txt
*.json
*.jsonl
*.csv
*.yaml
*.log
*.pid
*.out
*.sh


